[Desktop Entry]
Version=1.0
Type=Application
Name=Pics Organizer
GenericName=File Manager
Comment=Manage Photo Folder
Exec=/home/leonardo/pics_organizer/pics_organizerGUI
Terminal=false
MimeType=text/plain;
Icon=/home/leonardo/pics_organizer/icon1.ico
Categories=FileManager;Tools;
StartupNotify=true
Actions=Window;Document;

